<div class="upgrade-banner-container">
    <div class="content-container">
        <div class="content-section">
            <img class="upgrade-icon" src='{{upgradeBannerIcon}}' alt="">
            <div class="upgrade-content">
                <h3 class="banner-heading">{{upgradeBannerLabels.HEADING}}</h3>
                <p class="banner-subheading" [innerHTML]='upgradeBannerLabels.SUBHEADING'></p>
            </div>
        </div>
            <button class="upgrade-btn">
                {{upgradeBannerLabels.UPGRADE_BTN}}
            </button>
    </div>
   
    

</div>