*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.upgrade-banner-container{
   
    align-items: center;
    background-color: #E6EAF7;
    border: 1px solid #E8ECF8;
    box-shadow: 0px 0px 20px 0px #EDF1FF;
    font-family: 'Open Sans';
    margin-bottom: 100rem;
    margin-top: 4rem; //for seperation purpose remove later
    padding: 2rem 2.5rem;

    .content-container{
        display: flex;
        justify-content: space-between;
        padding: 0;
    
    .content-section{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        gap: 0 1.5rem;

        .upgrade-icon{
            padding: 1.1rem 1.7rem;
            border-radius: 50%;
            background-color: #ffff;
        }
       
        .upgrade-content{
            display: flex;
            flex-direction: column;
            gap: 0.5rem 0;
            .banner-heading{
                font-weight: 700;
                font-size: 1.6rem;
                color:  #0A0A5F;                
            }

            .highlight{
                font-weight: 700;
            }
            
            .banner-subheading{
                font-size: 1.2rem;
                line-height: 1.6rem;
                
            }
        }
    
    } 
           
        
        
        
    }
    .upgrade-btn{
        font-family: 'Open Sans';
        padding: 0.8rem 2.4rem;
        background: linear-gradient(113.54deg, #1C429E 9.5%, #0A0A5F 80.6%);
        border-radius: 0.5rem;
        border: none;
        color: #ffff;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.9rem;
        align-self: flex-end;
        
       }
}


@media (max-width: 425px) {
    .upgrade-banner-container{
        margin: 0 2rem;
        padding: 2rem 1.5rem;
        .content-container{
            flex-direction: column;
            align-items: flex-start;
            gap: 3rem 0;
            .content-section{
                flex-direction: column;
                align-items: flex-start;
                gap: 1.5rem 0;

                .upgrade-icon{
                    padding: 1.1rem 1.7rem;
             
                }

                .upgrade-content{
                    gap: 1rem 0;

                    .banner-heading{
                        font-size: 1.6rem;
                    }

                    .banner-subheading{
                        font-size: 1.4rem;
                    }
                }
            }

            .upgrade-btn{
                width: 100%;
                display: block;
            }
        }

    }
    
}